        /*********** Tag Selectors ********************/
        
        body {
            margin: 0;
            background-color: #a7c5eb;
            text-align: center;
            font-family: 'Montserrat Sans', serif;
        }
        
        h1 {
            margin-top: 0;
            font-family: 'Montserrat', cursive;
            color: #000;
        }
        
        h2,
        h3 {
            font-family: 'Montserrat', serif;
            color: #000;
        }
        
        div {
            background-color: #4a47a3;
            margin: 0;
        }
        
        img {
            margin: 0px;
        }
        
        a {
            color: #000;
            font-family: 'Montserrat', serif;
            margin: 10px 20px;
            text-decoration: none;
        }
        
        a:hover {
            color: #3498DB;
        }
        /*********** Class Selectors ********************/
        
        .copyright {
            color: #fff;
            font-size: 0.75rem;
            padding: 20px 0;
        }
        
        .bottom-container {
            background-color: #4a47a3;
            position: relative;
            display: block;
            top: 246px;
            padding: 50px 0 20px;
        }
        
        .skills-head {
            font-family: 'Montserrat', serif;
            color: #000;
            text-align: left;
            text-decoration: underline;
        }
        
        .skills-text {
            font-family: 'Montserrat', serif;
            color: #000;
            text-align: left;
        }