            /*********** Tag Selectors ********************/
            
            body {
                font-family: "Montserrat-bold";
                text-align: center;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Montserrat-Bold";
                color: #66BFBF;
            }
            
            p {
                color: #000;
            }
            /* Headings */
            
            .big-heading {
                font-family: "Montserrat-Black";
                font-size: 2rem;
                line-height: 1;
                text-align: left;
            }
            
            #bio-text {
                font-family: "Montserrat";
                font-size: 1.5rem;
                line-height: 1;
                text-align: left;
                margin-top: 30px;
                padding-bottom: 10px;
                color: #fff;
            }
            
            .section-heading {
                font-size: 3rem;
                line-height: 1.5;
            }
            /* Containers */
            
            .container-fluid {
                padding: 2% 5% 3%;
            }
            /* Sections */
            
            .title-section {
                font-family: "Montserrat-bold";
                background-color: #413c69;
                ;
                color: #fff;
                height: auto;
                padding-bottom: 0;
            }
            
            .white-section {
                background-color: #fff;
            }
            
            .skills-section {
                background-color: 4a47a3;
            }
            /*Navigation Bar */
            
            .navbar {
                padding: 0 0 4.5rem;
                font-family: "Ubuntu";
                color: #66BFBF;
            }
            
            .navbar-brand {
                font-family: "Ubuntu";
                font-size: 2.5rem;
                font-weight: bold;
            }
            
            .nav-item {
                padding: 0 8px;
            }
            
            .nav-link {
                font-size: 1.2rem;
                font-family: "Ubuntu";
            }
            
            #top-cloud {
                position: absolute;
                height: 120px;
                width: 250px;
                right: 20px;
                padding-bottom: 50px;
            }
            /* Skills Section */
            
            #skills {
                position: relative;
                font-family: "Montserrat";
            }
            
            #skills-head {
                color: #413c69;
                font-family: "Montserrat";
                font-size: 3rem;
                font-weight: bold;
            }
            
            .skills-title {}
            
            .skills-box {
                padding: 4.5%;
            }
            
            .icon {
                color: #000;
                margin-bottom: 1rem;
            }
            
            .icon:hover {
                color: #66BFBF;
            }
            /* Employment Section */
            
            #employment {
                font-family: "Montserrat";
                background-color: #413c69;
                position: relative;
                color: #fff;
            }
            
            #employment-head {
                font-family: "Montserrat";
                font-size: 3rem;
                color: #fff;
                height: auto;
            }
            
            .employment-item-heading {
                font-family: "Montserrat";
                color: #fff;
                font-size: 1.5rem;
                line-height: 1.5;
            }
            
            .employment-body {
                font-family: "Montserrat";
                color: #fff;
                font-size: 1rem;
                line-height: 1.5;
            }
            
            .carousel-item {
                padding: 7% 15%;
                text-align: left;
            }
            /* Academic History Section */
            
            #academic-history {
                font-family: "Montserrat";
                color: #413c69;
                position: relative;
            }
            
            #academic-history-head {
                font-family: "Montserrat";
                color: #413c69;
                font-size: 3rem;
                height: auto;
            }
            
            .academic-history-text {
                font-family: "Montserrat";
                font-size: 1.5rem;
                line-height: 1.5;
            }
            
            table {
                margin: auto;
            }
            
            #academic-table {
                text-align: left;
            }
            /* Personal Section */
            
            #personal {
                font-family: "Montserrat";
                background-color: #413c69;
                position: relative;
            }
            
            #personal-head {
                font-family: "Montserrat";
                color: #fff;
                font-size: 3rem;
                height: auto;
            }
            
            .personal-text {
                font-family: "Montserrat";
                color: #fff;
                font-size: 1.5rem;
                line-height: 1.5;
            }
            /* Footer */
            
            .footer-section {
                font-family: "Montserrat-bold";
                color: #66BFBF;
                height: auto;
                padding-bottom: 0;
            }
            
            #footer-head {
                color: #66BFBF;
                font-family: "Montserrat";
                font-size: 3rem;
                font-weight: bold;
            }
            /* Modals */
            
            .modal-title {
                font-family: "Montserrat";
                font-size: 1rem;
                font-weight: bold;
            }
            
            .modal-body {
                font-family: "Montserrat";
                font-size: 0.8rem;
                text-align: left;
            }
            
            .modal-head {
                color: #66BFBF;
                font-family: "Montserrat";
                font-size: 1.2rem;
                font-weight: bold;
            }